.bg-green {
    background-color: #135b53
}

.text-green {
    color: #135b53;
    border-color: #135b53
}

.text-border {
    text-shadow: 0 0 1px black, 0 0 1px black;
}

#map_canvas{
    height: 215px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px
}

.carousel-item .carousel-caption > h3, .carousel-item .carousel-caption > a, .carousel-item .carousel-caption > p{
    /* height: 100vh !important; */
    color: white !important;
    border-color: white !important; 
}
