/*
 * Utils
*/

.bg-green {
    background-color: #135b53
}
.text-green {
    color: #135b53;
    border-color: #135b53
}
.text-border {
    text-shadow: 0 0 1px black, 0 0 1px black;
}

/*
 * Overrides
*/

#map_canvas{
    height: 215px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px
}
.carousel-item .carousel-caption > h3, .carousel-item .carousel-caption > a, .carousel-item .carousel-caption > p{
    color: white !important;
    border-color: white !important; 
}
#navbarResponsive .navbar-nav .nav-item .nav-link {
    color: #fff
}
#navbarResponsive .navbar-nav .nav-item .nav-link:hover {
    opacity: 0.8;
    color: #fff
}
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Custom */
#sobre {
    padding-bottom: 0 !important
}

#services-list {
    margin-top: 40px
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #135b53
}

.services-list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.services-list-item:hover {
    text-decoration: none;
    opacity: 0.5;
}
  
.services-list-item span {
    text-align: center;
    color: #135b53;
    font-weight: 600
}

.icon-container i {
    font-size: 25px;
    color: #135b53
}